.internsList
{
    height: fit-content;
    text-align: justify;
}

.internsList:after
{
    width: 100%;
    content: "";
    display: inline-block;
}

.internsList > div
{
    padding-top: 50px;
    display: inline-block;
    text-align: center;
    width: 200px;
}

.center
{
    left: 50%;
    transform: translate(-50%);
}