/*#region Main*/
hr { border: 1px solid white; }

.imgLarge
{
    max-width: 400px;
    max-height: 400px;
    min-width: 400px;
    min-height: 400px;
}

.imgMedium
{
    max-width: 250px;
    max-height: 250px;
    min-width: 250px;
    min-height: 250px;
}

.imgSmall
{
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
}

.imgIcon
{
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
}

.circleImage
{
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.circleImage > img
{
    width: 100%;
    height: 100%;
}

h1 { font-size: 40px; }

a { color: inherit; text-decoration: none; }

body > div
{
    margin-left: 5%;
    margin-right: 5%;
}

body > section
{
    margin-left: 25%;
    margin-right: 25%;
    position: relative;
}

button
{
    background-color: inherit;
    border: 2px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font: inherit;
    color: inherit;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
/*#endregion*/

/*#region Header*/
header
{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 70px;
}

/*#region TitleMotd*/
.motdContainer { height: 100px; }

.motdContainer > img
{
    width: 100px;
    float: left;
}

.motd
{
    position: relative;
    top: 50%;
    left: 20px;
    line-height: 20px;
    transform: translate(0%, -50%);
}
/*#endregion*/
/*#region navBar*/
.navbar > a, .navbar > div
{
    float: left;
    color: white;
    text-decoration: none;
    overflow: hidden;
}

.navbar > a
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar > div > p
{
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar a:hover, .membersContainer:hover, .membersBtn:hover
{ background-color: rgb(30, 30, 30); }
  
.members-content
{
    display: none;
    position: absolute;
    background-color: rgb(30, 30, 30);
    min-width: 160px;
    z-index: 1;
}
  
.members-content > a
{
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.members-content > a:hover
{ background-color: rgb(50, 50, 50); }
  
.membersContainer:hover .members-content { display: block; }

/*#region socialLinks*/
.navLinks
{
    float: right;
    position: relative;
    padding-right: 20px;
    top: 5px;
}

.navLinks > a > img
{
    cursor: pointer;
    padding-left: 5px;
}
/*#endregion*/
/*#endregion*/
/*#endregion*/

/*#region Body*/
body
{
    background-color: rgb(12, 12, 12);
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0%;
    overflow-x: hidden;
}
/*#endregion*/

/*#region Footer*/
footer
{
    font-size: 14px;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

footer > a
{
    text-decoration: none;
    color: white;
}
/*#endregion*/