#rosterContainer { width: 100%; }

#rosterContainer * { text-align: center; }

#rosterContainer tr > td:first-of-type,
#rosterContainer tr > td:last-of-type
{
    width: 20vw;
    position: relative;
    user-select: none;
}

#rosterContainer tr > td:first-of-type > h3,
#rosterContainer tr > td:last-of-type > h3
{
    cursor: pointer;
    width: 38px;
    height: 38px;
    margin: 0;
}

#rosterContainer tr > td:not(:first-of-type):not(:last-of-type)
{
    display: none;
    width: 80vw;
    height: 370px;
    position: relative;
}

#rosterContainer tr > td:not(:first-of-type):not(:last-of-type) > a
{
    display: block;
    width: max-content;
    padding: 20px 80px;
}

#rosterContainer tr > td.visible { display: table-cell !important; }