.trailer
{
    position: relative;
    object-fit: cover;
    width: 100vw;
}

.center
{
    left: 50%;
    transform: translate(-50%);
}

/*#region Roster*/
.rosterContainer
{
    padding-top: 20px;
    text-align: center;
}

.slideshow-container { position: relative; }

.mySlides { display: none; width: 20%; transform: translate(200%); }

.prev, .next
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    padding: 15px 20px 15px 20px;
    font-size: xx-large;
}

.prev { left: 0; }

.next { right: 0; }

.prev:hover, .next:hover
{
    background-color: rgba(0,0,0,0.8);
}

.dot
{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active { background-color: #717171; }

.dot:hover
{
    cursor: pointer;
    background-color: #a1a1a1;
}

.rtl
{
    animation-name: rtl;
    animation-duration: 1.5s;
}

@keyframes rtl
{
    from
    {
        opacity: 0;
        transform: translate(350%);
    }
    to
    {
        opacity: 1;
        transform: translate(200%);
    }
}

.ltr
{
    animation-name: ltr;
    animation-duration: 1.5s;
}

@keyframes ltr
{
    from
    {
        opacity: 0;
        transform: translate(50%);
    }
    to
    {
        opacity: 1;
        transform: translate(200%);
    }
}
/*#endregion*/